body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
.wb-theme-header
{
   background-color: #F8F8F8;
   background-image: none;
   border: 1px solid #D2D2D2;
   border-radius: 0px;
   color: #212529;
   --background-color: rgba(248,248,248,1.00);
   --border-color: #D2D2D2;
   --border-width: 1px;
   --color: #212529;
}
.wb-theme-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 0px;
   color: #212529;
   --background-color: rgba(255,255,255,1.00);
   --border-color: #DEE2E6;
   --border-width: 1px;
   --color: #212529;
   --icon-color: #0D6EFD;
   --colorize: invert(33%) sepia(83%) saturate(3814%) hue-rotate(208deg) brightness(99%) contrast(102%);
}
.wb-theme-button, .wb-theme-static
{
   background-color: #0D6EFD;
   background-image: none;
   border: 1px solid #0D6EFD;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(13,110,253,1.00);
   --border-color: #0D6EFD;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-button:hover
{
   background-color: #0B5ED7;
   background-image: none;
   border: 1px solid #0A58CA;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(11,94,215,1.00);
   --border-color: #0A58CA;
   --border-width: 1px;
   --color: #FFFFFF;
}
.wb-theme-button.active, .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #0A58CA;
   background-image: none;
   border: 1px solid #0A53BE;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(10,88,202,1.00);
   --border-color: #0A53BE;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-header
{
   background-color: #272B2F;
   background-image: none;
   border: 1px solid #424549;
   border-radius: 0px;
   color: #DEE2E6;
   --background-color: rgba(39,43,47,1.00);
   --border-color: #424549;
   --border-width: 1px;
   --color: #DEE2E6;
}
.darktheme .wb-theme-content
{
   background-color: #212529;
   background-image: none;
   border: 1px solid #495057;
   border-radius: 0px;
   color: #DEE2E6;
   --background-color: rgba(33,37,41,1.00);
   --border-color: #495057;
   --border-width: 1px;
   --color: #DEE2E6;
   --icon-color: #0D6EFD;
   --colorize: invert(31%) sepia(53%) saturate(4453%) hue-rotate(208deg) brightness(100%) contrast(100%);
}
.darktheme .wb-theme-button, .darktheme .wb-theme-static
{
   background-color: #0D6EFD;
   background-image: none;
   border: 1px solid #0D6EFD;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(13,110,253,1.00);
   --border-color: #0D6EFD;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-button:hover
{
   background-color: #0B5ED7;
   background-image: none;
   border: 1px solid #0A58CA;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(11,94,215,1.00);
   --border-color: #0A58CA;
   --border-width: 1px;
   --color: #FFFFFF;
}
.darktheme .wb-theme-button.active, .darktheme .wb-theme-button:active, .active > .wb-theme-button
{
   background-color: #0A58CA;
   background-image: none;
   border: 1px solid #0A53BE;
   border-radius: 0px;
   color: #FFFFFF;
   --background-color: rgba(10,88,202,1.00);
   --border-color: #0A53BE;
   --border-width: 1px;
   --color: #FFFFFF;
}
#SlideShow1
{
   position: fixed;
   z-index: 0;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   margin: 0;
   padding: 0;
   list-style: none;
}
#SlideShow1 li
{
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-size: cover;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   opacity: 0;
   z-index: 0;
}
@keyframes SlideShow1-animation
{
   0% { opacity: 0; animation-timing-function: ease-in; }
   6% { opacity: 1; animation-timing-function: ease-out; }
   16% { opacity: 1; }
   22% { opacity: 0; }
   100% { opacity: 0; }
}
#SlideShow1 li
{
   animation: SlideShow1-animation 30000ms linear infinite 0s;
}
#SlideShow1 li:nth-child(1)
{
   background-image: url('images/uru1.jpg');
   animation-delay: 0ms;
   transform-origin: bottom left;
}
#SlideShow1 li:nth-child(2)
{
   background-image: url('images/uru2.jpg');
   animation-delay: 5000ms;
   transform-origin: top right;
}
#SlideShow1 li:nth-child(3)
{
   background-image: url('images/uru3.jpg');
   animation-delay: 10000ms;
   transform-origin: top left;
}
#SlideShow1 li:nth-child(4)
{
   background-image: url('images/uru4.jpg');
   animation-delay: 15000ms;
   transform-origin: bottom right;
}
#SlideShow1 li:nth-child(5)
{
   background-image: url('images/uru5.jpg');
   animation-delay: 20000ms;
   transform-origin: bottom left;
}
#SlideShow1 li:nth-child(6)
{
   background-image: url('images/uru6.jpg');
   animation-delay: 25000ms;
   transform-origin: top right;
}
#SlideShow1
{
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   box-sizing: border-box;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 10px 0 20px 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .col-1
{
   flex: 0 0 auto;
}
#LayoutGrid1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 1024px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#HorizontalLine1
{
   border-color: transparent;
   border-style: solid;
   border-bottom-width: 9px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 1024px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#HorizontalLine2
{
   border-color: transparent;
   border-style: solid;
   border-bottom-width: 9px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#wb_Image3
{
   margin: 0;
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 1024px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#HorizontalLine3
{
   border-color: transparent;
   border-style: solid;
   border-bottom-width: 9px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#wb_Card1
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   max-width: 1024px;
   margin-left: auto !important;
   margin-right: auto !important;
   background-color: #81F9A0;
   background-image: none;
   border: 1px solid #DEE2E6;
   border-radius: 3px;
   text-align: center;
}
#Card1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card1-card-item0
{
   box-sizing: border-box;
   margin: 20px 20px 0 20px;
   padding: 0;
   background: transparent;
   border: none;
   font-family: Impact;
   font-weight: normal;
   font-style: normal;
   font-size: 21px;
}
#Card1-card-item0 a
{
   color: inherit;
   text-decoration: none;
}
#Card1-card-item1
{
   box-sizing: border-box;
   border-radius: 0 0 3px 3px !important;
   margin: 20px 20px 0 20px;
   border-top: 1px #D2D2D2 solid;
   border-width: 1px 0 0 0;
   height: 0;
   line-height: 0;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEE2E6;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0 0 20px 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .col-1, #LayoutGrid2 > .col-2, #LayoutGrid2 > .col-3, #LayoutGrid2 > .col-4, #LayoutGrid2 > .col-5
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .col-1, #LayoutGrid2 > .col-2, #LayoutGrid2 > .col-3, #LayoutGrid2 > .col-4, #LayoutGrid2 > .col-5
{
   flex: 0 0 auto;
}
#LayoutGrid2 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid2 > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#LayoutGrid2 > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 33.33333333%;
   max-width: 33.33333333%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
#LayoutGrid2 > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
#LayoutGrid2 > .col-5
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 16.66666667%;
   max-width: 16.66666667%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: flex-start;
   text-align: left;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .col-1, #LayoutGrid2 > .col-2, #LayoutGrid2 > .col-3, #LayoutGrid2 > .col-4, #LayoutGrid2 > .col-5
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#Table1
{
   border-radius: 0px;
   border: 0px solid #C0C0C0;
   background-color: #0000FF;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#Table1 td, #Table1 th
{
   padding: 0;
}
#Table1 p, #Table1 ul
{
   margin: 0;
   padding: 0;
}
#Table1 .cell0
{
   background-color: transparent;
   background-image: none;
   text-align: left;
   vertical-align: top;
   font-size: 0;
}
#Table1 .cell1
{
   background-color: transparent;
   background-image: none;
   text-align: center;
   vertical-align: middle;
   font-size: 0;
}
#Label1
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FFFF00;
   font-family: Verdana;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label1:focus
{
   outline: 0;
}
#Label2
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FFFF00;
   font-family: Verdana;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label2:focus
{
   outline: 0;
}
#Label3
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FFFF00;
   font-family: Verdana;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label3:focus
{
   outline: 0;
}
#Label4
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FFFF00;
   font-family: Verdana;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label4:focus
{
   outline: 0;
}
#Label5
{
   box-sizing: border-box;
   margin: 0;
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FFFF00;
   font-family: Verdana;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
#Label5:focus
{
   outline: 0;
}
#wb_RadioButton1
{
   margin: 0;
}
#wb_RadioButton1
{
   position: relative;
}
#wb_RadioButton1, #wb_RadioButton1 *, #wb_RadioButton1 *::before, #wb_RadioButton1 *::after
{
   box-sizing: border-box;
}
#wb_RadioButton1 input[type='radio']
{
   position: relative;
   padding: 0;
   margin: 0;
   opacity: 0;
   z-index: 1;
   width: 18px;
   height: 18px;
   left: 0;
   top: 0;
}
#wb_RadioButton1 label
{
   display: inline-block;
   vertical-align: middle;
   position: absolute;
   left: 0;
   top: 0;
   padding: 0;
}
#wb_RadioButton1 label::before
{
   content: "";
   display: inline-block;
   position: absolute;
   width: 18px;
   height: 18px;
   left: 0;
   top: 0;
   background-color: #FFFFFF;
   border: 1px solid #0D6EFD;
   border-radius: 50%;
}
#wb_RadioButton1 label::after
{
   display: inline-block;
   position: absolute;
   width: 18px;
   height: 18px;
   left: 0;
   top: 0;
   visibility: visible;
   padding: 0;
   text-align: center;
   line-height: 18px;
   border-radius: 50%;
   color: #FFFFFF;
   content: " ";
   transform: scale(0, 0);
}
#wb_RadioButton1 input[type='radio']:checked + label::after
{
   background-color: #0D6EFD;
   background-image: none;
   border-color: #0D6EFD;
   transform: scale(0.66, 0.66);
}
#wb_RadioButton1 input[type='radio']:focus + label::before
{
   outline: thin dotted;
}
#wb_RadioButton2
{
   margin: 0;
}
#wb_RadioButton2
{
   position: relative;
}
#wb_RadioButton2, #wb_RadioButton2 *, #wb_RadioButton2 *::before, #wb_RadioButton2 *::after
{
   box-sizing: border-box;
}
#wb_RadioButton2 input[type='radio']
{
   position: relative;
   padding: 0;
   margin: 0;
   opacity: 0;
   z-index: 1;
   width: 18px;
   height: 18px;
   left: 0;
   top: 0;
}
#wb_RadioButton2 label
{
   display: inline-block;
   vertical-align: middle;
   position: absolute;
   left: 0;
   top: 0;
   padding: 0;
}
#wb_RadioButton2 label::before
{
   content: "";
   display: inline-block;
   position: absolute;
   width: 18px;
   height: 18px;
   left: 0;
   top: 0;
   background-color: #FFFFFF;
   border: 1px solid #0D6EFD;
   border-radius: 50%;
}
#wb_RadioButton2 label::after
{
   display: inline-block;
   position: absolute;
   width: 18px;
   height: 18px;
   left: 0;
   top: 0;
   visibility: visible;
   padding: 0;
   text-align: center;
   line-height: 18px;
   border-radius: 50%;
   color: #FFFFFF;
   content: " ";
   transform: scale(0, 0);
}
#wb_RadioButton2 input[type='radio']:checked + label::after
{
   background-color: #0D6EFD;
   background-image: none;
   border-color: #0D6EFD;
   transform: scale(0.66, 0.66);
}
#wb_RadioButton2 input[type='radio']:focus + label::before
{
   outline: thin dotted;
}
#wb_RadioButton3
{
   margin: 0;
}
#wb_RadioButton3
{
   position: relative;
}
#wb_RadioButton3, #wb_RadioButton3 *, #wb_RadioButton3 *::before, #wb_RadioButton3 *::after
{
   box-sizing: border-box;
}
#wb_RadioButton3 input[type='radio']
{
   position: relative;
   padding: 0;
   margin: 0;
   opacity: 0;
   z-index: 1;
   width: 18px;
   height: 18px;
   left: 0;
   top: 0;
}
#wb_RadioButton3 label
{
   display: inline-block;
   vertical-align: middle;
   position: absolute;
   left: 0;
   top: 0;
   padding: 0;
}
#wb_RadioButton3 label::before
{
   content: "";
   display: inline-block;
   position: absolute;
   width: 18px;
   height: 18px;
   left: 0;
   top: 0;
   background-color: #FFFFFF;
   border: 1px solid #0D6EFD;
   border-radius: 50%;
}
#wb_RadioButton3 label::after
{
   display: inline-block;
   position: absolute;
   width: 18px;
   height: 18px;
   left: 0;
   top: 0;
   visibility: visible;
   padding: 0;
   text-align: center;
   line-height: 18px;
   border-radius: 50%;
   color: #FFFFFF;
   content: " ";
   transform: scale(0, 0);
}
#wb_RadioButton3 input[type='radio']:checked + label::after
{
   background-color: #0D6EFD;
   background-image: none;
   border-color: #0D6EFD;
   transform: scale(0.66, 0.66);
}
#wb_RadioButton3 input[type='radio']:focus + label::before
{
   outline: thin dotted;
}
#wb_RadioButton4
{
   margin: 0;
}
#wb_RadioButton4
{
   position: relative;
}
#wb_RadioButton4, #wb_RadioButton4 *, #wb_RadioButton4 *::before, #wb_RadioButton4 *::after
{
   box-sizing: border-box;
}
#wb_RadioButton4 input[type='radio']
{
   position: relative;
   padding: 0;
   margin: 0;
   opacity: 0;
   z-index: 1;
   width: 18px;
   height: 18px;
   left: 0;
   top: 0;
}
#wb_RadioButton4 label
{
   display: inline-block;
   vertical-align: middle;
   position: absolute;
   left: 0;
   top: 0;
   padding: 0;
}
#wb_RadioButton4 label::before
{
   content: "";
   display: inline-block;
   position: absolute;
   width: 18px;
   height: 18px;
   left: 0;
   top: 0;
   background-color: #FFFFFF;
   border: 1px solid #0D6EFD;
   border-radius: 50%;
}
#wb_RadioButton4 label::after
{
   display: inline-block;
   position: absolute;
   width: 18px;
   height: 18px;
   left: 0;
   top: 0;
   visibility: visible;
   padding: 0;
   text-align: center;
   line-height: 18px;
   border-radius: 50%;
   color: #FFFFFF;
   content: " ";
   transform: scale(0, 0);
}
#wb_RadioButton4 input[type='radio']:checked + label::after
{
   background-color: #0D6EFD;
   background-image: none;
   border-color: #0D6EFD;
   transform: scale(0.66, 0.66);
}
#wb_RadioButton4 input[type='radio']:focus + label::before
{
   outline: thin dotted;
}
#wb_RadioButton5
{
   margin: 0;
}
#wb_RadioButton5
{
   position: relative;
}
#wb_RadioButton5, #wb_RadioButton5 *, #wb_RadioButton5 *::before, #wb_RadioButton5 *::after
{
   box-sizing: border-box;
}
#wb_RadioButton5 input[type='radio']
{
   position: relative;
   padding: 0;
   margin: 0;
   opacity: 0;
   z-index: 1;
   width: 18px;
   height: 18px;
   left: 0;
   top: 0;
}
#wb_RadioButton5 label
{
   display: inline-block;
   vertical-align: middle;
   position: absolute;
   left: 0;
   top: 0;
   padding: 0;
}
#wb_RadioButton5 label::before
{
   content: "";
   display: inline-block;
   position: absolute;
   width: 18px;
   height: 18px;
   left: 0;
   top: 0;
   background-color: #FFFFFF;
   border: 1px solid #0D6EFD;
   border-radius: 50%;
}
#wb_RadioButton5 label::after
{
   display: inline-block;
   position: absolute;
   width: 18px;
   height: 18px;
   left: 0;
   top: 0;
   visibility: visible;
   padding: 0;
   text-align: center;
   line-height: 18px;
   border-radius: 50%;
   color: #FFFFFF;
   content: " ";
   transform: scale(0, 0);
}
#wb_RadioButton5 input[type='radio']:checked + label::after
{
   background-color: #0D6EFD;
   background-image: none;
   border-color: #0D6EFD;
   transform: scale(0.66, 0.66);
}
#wb_RadioButton5 input[type='radio']:focus + label::before
{
   outline: thin dotted;
}
#HorizontalLine4
{
   border-color: transparent;
   border-style: solid;
   border-bottom-width: 9px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#Button1
{
   border: 1px solid #0000FF;
   border-radius: 4px;
   background-color: #0000FF;
   background-image: none;
   color: #FFFF00;
   font-family: Verdana;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button1:focus
{
   outline: 0;
}
#Button2
{
   border: 1px solid #0D6EFD;
   border-radius: 4px;
   background-color: #0000FF;
   background-image: none;
   color: #FFFF00;
   font-family: Verdana;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#Button2:focus
{
   outline: 0;
}
#Table2
{
   border-radius: 0px;
   border: 0px solid #C0C0C0;
   background-color: transparent;
   background-image: none;
   border-collapse: separate;
   border-spacing: 1px;
   margin: 0;
}
#Table2 td, #Table2 th
{
   padding: 0;
}
#Table2 p, #Table2 ul
{
   margin: 0;
   padding: 0;
}
#Table2 .cell0
{
   background-color: transparent;
   background-image: none;
   text-align: center;
   vertical-align: middle;
   font-size: 0;
}
#TextArea1
{
   box-sizing: border-box;
   border: 1px solid #DEE2E6;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #212529;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   text-align: left;
   padding: 4px 4px 4px 4px;
   margin: 0;
   overflow: auto;
   resize: none;
}
#TextArea1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#HorizontalLine5
{
   border-color: transparent;
   border-style: solid;
   border-bottom-width: 9px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#HorizontalLine6
{
   border-color: transparent;
   border-style: solid;
   border-bottom-width: 9px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#HorizontalLine7
{
   border-color: transparent;
   border-style: solid;
   border-bottom-width: 9px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
